* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --primary-color: #81c408 !important;
    --secondary-color: #ffb524 !important;
    --primary-font: "Open Sans", sans-serif;
    --secondary-font: "Raleway", sans-serif;
}

html {
    font-family: var(--primary-font);
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
}

a {
    text-decoration: none;
}

